spring:
  profiles:
    active: ${ACTIVE_PROFILE:dev}
  application:
    name: authorization-server
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      leak-detection-threshold: 100000
      maximum-pool-size: 50
      minimum-idle: 5
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop       # Auto-update schema
    show-sql: false  # Log SQL queries
resilience4j:
  rateLimiter:
    configs:
      default:
        register-health-indicator: true
        event-consumer-buffer-size: 100
    instances:
      accountRegistration:
        limit-for-period: ${LIMIT_FOR_PERIOD}
        limit-refresh-period: ${LIMIT_REFRESH_PERIOD}
        timeout-duration: ${TIMEOUT_DURATION}
        register-health-indicator: ${REGISTER_HEALTH_INDICATOR}
        subscribe-for-events: true
        allow-health-indicator-to-fail: false
        event-consumer-buffer-size: 50

logging:
  level:
    org:
      springframework:
        security: DEBUG