spring:
  profiles:
    active: ${ACTIVE_PROFILE:dev}
  application:
    name: authorization-server
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USERNAME}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      leak-detection-threshold: 100000
      maximum-pool-size: 50
      minimum-idle: 5
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop       # Auto-update schema
    show-sql: false                # Log SQL queries
